<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      /*   #name{
            border-color: aqua;
        } */

        /* .text{
            border-color: aqua; 
        } */
        input{
            border-color: aqua;
        }


    </style>
</head>
<body>
    <!-- inline css -->
    <p style="background-color: yellow;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fugiat ipsa ut et distinctio, doloribus eum, deleniti nobis hic doloremque voluptates temporibus, eveniet rem maiores cupiditate accusantium repudiandae labore! Molestias.</p>
    <!-- internal css -->
    <input type="text" name="" id="name">

</body>
</html>